:global(.carousel) {
    height: inherit;
}

:global(.carousel-inner) {
    height: inherit;
}

:global(.carousel-item) {
    height: 90%;
}

:global(.carousel-control-next){
    align-items: flex-end;
}

:global(.carousel-control-prev){
    align-items: flex-end;
}

.articleHeight {
    height: inherit;
}
