.carousel {
    height: inherit;
}

.carousel-inner {
    height: inherit;
}

.carousel-item {
    height: 90%;
}

.carousel-control-next{
    align-items: flex-end;
    margin-top: auto;
    height: 5vh;
}

.carousel-control-prev{
    align-items: flex-end;
    margin-top:auto;
    height: 5vh;
}

.article-height {
    height: inherit;
}
