.bar-chart {
     border: solid 1px #c7c7c7;
    padding: 8px;
    margin: 8px 0;
}

.pie-chart {
    border: solid 1px #c7c7c7;
    border-radius: 16px;
    padding: 8px;
    margin:8px;

}

.pie {
    margin: 0 auto;
    width: 20vw;
}

.bar-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
