.city-card {
    border: 1.5px solid black;
    box-shadow: 2px 3px 4px lightgrey;
    padding: 5%;
    height: calc(100% - 5%);
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    transition: all .2s ease-in-out;

    @include media-breakpoint-down("md") {
        &:hover {
            transform: scale(1) !important;
        }
    }
    @include media-breakpoint-down("sm") {
        border: 1.5px solid black;
        img, p {
            display: none;
        }
        &:hover {
            transform: scale(1) !important;
        }
    }

    img {
        padding-bottom: 5%;
    }

    &.disabled {
        color: #9a9a9a;
        border: 1px solid #d9d9d9;
        box-shadow: none;

        &:hover {
            transform: scale(1);
        }

        img {
            opacity: 0.5;
        }

        a {
            background-color: #cacaca;
            color: #9a9a9a;
        }
    }
}

.city-card:hover {
    transform: scale(1.1);
}

.city-tags, .city-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;

    > a {
        &:hover, &:active, &:focus {
            color: black;
        }
    }
}

.city-tags > a {
    border: 0;
    font-size: 0.8em;
}

.city-links > a {
    text-decoration: none;
    color: black;
    margin-left: 0;
}

@mixin city-tag($theme: $color-gold) {
    padding: 1% 2%;
    margin: 2%;
    border: 1px solid black;
    cursor: pointer;
    &.selected, &:hover, &:active {
        background: $theme;
    }
}


.city-tags > .city-tag-overview {
    background-color: $color-periwinkle;
}

.city-tags > .city-tag-housing {
    background-color: $color-magenta;
}

.city-tags > .city-tag-transport {
    background-color: $color-green;
}

.city-tags > .city-tag-health {
    background-color: $color-periwinkle;
}

.city-tags > .city-tag-housing {
    background-color: $color-green;
}

.city-tags > .city-tag-community {
    background-color: $color-magenta;
}

.city-tags > .city-tag-food {
    background-color: $color-red;
}

.city-tags > .city-tag-future {
    background-color: $color-gold;
}


//-----
.city-tag-overview {
    @include city-tag($color-periwinkle);
}

.city-tag-housing {
    @include city-tag($color-magenta);
}

.city-tag-transport {
    @include city-tag($color-green);
}

.city-tag-health {
    @include city-tag($color-periwinkle);
}

.city-tag-housing {
    @include city-tag($color-green);
}

.city-tag-community {
    @include city-tag($color-magenta);
}

.city-tag-food {
    @include city-tag($color-red);
}

.city-tag-future {
    @include city-tag($color-gold);
}

.city-tag-covid-data {
    @include city-tag($color-red);
}

.city-tag-resident-profile {
    @include city-tag($color-gold);
}
