@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.city {
    padding: 0 auto !important;
    .intro-text {
        font-family: "titillium_websemibold", sans-serif;
        font-size: 0.9em;
    }
    .nav-col {
        @include media-breakpoint-up("lg") {
            position: fixed;
        }
    }

}
