@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

h1 {
    @include media-breakpoint-down("md") {
        margin-top: 1.5em !important;
    }
}

.city {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: flex;

    .intro-text {
        justify-content: center;
        font-family: "titillium_websemibold", sans-serif;
        font-size: 0.9em;
    }

    .nav-col {
        @include media-breakpoint-up("lg") {
            position: fixed;
        }
    }

    .img-wymer {
        border: 2px solid black;
    }

    small {
        font-size: 0.7em !important;
        line-height: 0.7em !important;
    }

    .Profile {
        padding-bottom: 5px;
    }

    .carousel {
        width: 100%;
        height: 7em;
        display: flex;
        margin-bottom: 1em;

        blockquote {
            overflow-y: scroll;
        }

        button {
            background-color: transparent;
            border: 0;
        }
    }

    // housing
    .housing-charts {
        h1 {
            font-size: 1.4em;
        }

        h2 {
            font-size: 1.2em;
        }
    }

    // health
    .btn.btn-primary.btn-health-tab {
        border-radius: 0 !important;
        background-color: white;
        border: 1px solid black;
        border-bottom: 0;
        color: black;
    }

}
