.article-height {
    height: inherit;
}

.article-carousel .carousel {
    height: inherit;
}

.article-carousel .carousel-control-next{
    align-items: flex-end;
    margin-top: auto;
    height: 5vh;
}

.article-carousel .carousel-control-prev{
    align-items: flex-end;
    margin-top:auto;
    height: 5vh;
}

.article-carousel .carousel-inner {
    height: inherit;
}

.article-carousel .carousel-item {
    height: 90%;
}

.col-height {
    height: inherit;
}

.doc-image {
    height: 80% !important;
}

.doc-image img {
    height: 100%;
    width: auto;
    border: 1px solid black;
}

.labels {
    padding-top: 15px;
    font-weight: bold;

}
