body {
    font-family: $font-family-base;
}

#main-container {
    padding: 1em 2em;

}

.box {
    width: 180px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: black;
    background-color: white;
    box-shadow: 4px 4px #ccc;
}

.description {
    padding: 10px;
    border: 1px solid black;
}

.community-button {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 0.5em;
    &.selected {
        background-color: $color-magenta;
    }
}

.future-button {
    border: 1px solid black;
    padding: 0.5em;
    background-color: $color-gold;
    &:hover, &:active {
        background-color: white;
    }
}

.future-map {
    margin-top: 40px;
}

.future-map-select {
    margin-top: -40px;
}

.citation-pointer {
    font-size: 0.6em;
    position: relative;
    bottom: 0.4em;
    padding-right: 0.6em;
}

.citation {
    font-size: 0.8em;
    margin-bottom: 0.5em;

    p {
        margin: 0;
        padding: 0;
    }

    .citation-num {
        font-weight: 300;
    }

    .citation-accessed {
        font-style: italic;
        color: #565656;
    }

    .citation-link {
        font-style: normal;
        font-size: 1em;
    }
}
