.legend-container {
    font-size: 15px;
    color: black;
    padding: 10px;
    background-color: white;
    width: 180px;
    overflow-y: scroll;
    z-index: 9999;
    position: absolute;
    bottom: 0.2em;
    right: 0.2em;
    border: 1px solid black;

    h1 {
        font-size: 1em;
    }
    .legend-marker {
        width: 15px;
        height: 15px;
        float: left;
        margin-top: 0.1em;
    }
    .marker-label {
        float: left;
        font-size: 0.8em;
        margin-left: 0.5em;
    }
    .marker-set {
        clear: both;
    }
}
