.navbar {
    .link-home {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .lab-link {
        max-width: 10rem;
    }

    .lab-image {
        height: auto;
        max-width: 75vw;
        width: 10rem;
    }
}
