#document-showcase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-grow: 2;
    margin: 0px 64px;

    .empty-message {
        position: fixed;
        top: 45vh;
        font-size: 2rem;
    }
}

.showcase-item {
    cursor: pointer;
    margin-bottom: 16px;

    img {
        width: 15vw;
        height: 50vh;
    }
}

button[class^='showcase-arrow'] {
    position: fixed;
    width: 96px;
    top: 40vh;
    font-size: 5rem;
    background: none;
    border: none;
    padding: 0;
}

.showcase-arrow-prev {
    left: 8px;
}

.showcase-arrow-next {
    right: 8px;
}

.arrow-icon {
    color: black;
}

.arrow-date {
    font-size: 1rem;
}

.timeline-slider {
    width: 100vw;
    margin-bottom: 64px;
}
