#showcase {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

#document-showcase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.showcase-item {
    cursor: pointer;
    margin-bottom: 16px;

    img {
        width: 15vw;
        height: 50vh;
    }
}

.arrow {
    font-size: 5rem;
    background: none;
    margin: auto;

}

.arrow:hover {
    padding-left: 1px;
}

.date {
    font-size: 1rem;
    color: lightgray;
}

.date:hover {
    color: darkblue;
    padding: 0px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
