$color-magenta: #F1A0E9;
$color-gold: #EABF6B;
$color-periwinkle: #BBC6FF;
$color-green: #CDF1A0;
$color-red: #FFA08B;


$highlight-periwinkle: #d6ddfd;
$highlight-magenta: #f5d5ef;
$highlight-green: #D2ECB6;
$highlight-red: #faccc1;
$highlight-gold: #ecc477;
